{% extends 'base.html' %}

{% load static %}

{% block content %}
  <p>List Movies</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="movies-list"></div>
    </div>
    <div class="col-sm">
      <div id="detail-list"></div>
    </div>
  </div>
</div>

 <!-- Modal -->
  <div class="modal fade" id="modalUpdate" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Movie</h4>
          </div>
          <div class="modal-body" id="formUpdate">
                        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}